* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

body {
    background-color: #A0BDF0;
}

/* ABOUT PAGE */

.aboutpage-div {
    background-color: white;
    padding: 2rem;
    width: 80%;
    height: 20%;
    margin: 3rem auto;
}

.about-h1, .about-h2 {
    text-align: center;
    padding-top: 1rem;
}

.about-img {
    background-image: url(./images/about-page.jpeg);
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center center;
}

.about-p1 {
    padding: 2rem 5rem 5rem 5rem;
}

.about-p2 {
    text-align: center;
    margin: 2rem;
    font-size: 20px;
    font-style: italic;
}

.about-footer {
    text-align: center;
}


/* =================
    Lists
==================== */
.homeNav {
    list-style-type: none;
    width: 100%;
    text-align: right;
}

.homeNav li {
    display: inline-block;
    margin-left: 1.5rem;
    font-size: 18px;
}

/* =================
    Links
==================== */
.homeNav a {
    text-decoration: none;
}

.homeNav a:hover {
    font-weight: bold;
    font-style: italic;
}


/* =================
    Home Page
==================== */

.container {
    width: 46%;
    height: 90%;
}

#homeRight {
    /* background-image: url(images/beach.jpg);
    background-size: cover;
    background-position: right 50% bottom 50%;;   */
    background-image: url(./images/gavdos3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 5%;
    right: 3.8%;

}

#homeLeft {
    background-color: white;
    padding: 2rem;
    position: absolute;
    top: 5%;
    left: 3.8%;
}

#homeLeft h1 {
    font-style: italic;
    font-size: 24px;
    margin: 200px 0 2rem 0;
}

#homeLeft p {
    font-size: 18px;
    line-height: 30px;
}

#homeLeft>p::before {
    content: open-quote;
}

#homeLeft>p::after {
    content: close-quote;
}

footer {
    background-color: #A0BDF0;
    margin: 3rem auto 4rem auto;
    padding: 1rem;
    text-align: right;
}


/* CONTACT PAGE */

.contact-h1, .contact-h2 {
    text-align: center;
    margin: 1rem;
}

.container-contact {
    width: 100%;
    height: 100%;
    margin: 0auto;
}

.contact-img {
    background-image: url(./images/contact-img.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}

.container-input {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

form {
  border: 3px solid #f1f1f165;
  border-radius: 5px;
  display: inline-block;
  width: 60%;
  height: 45vh;
  background-color: rgba(146, 146, 219, .2);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
}

input[type=text], input[type=submit] {
  width: 50%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  background-color: rgba(4, 145, 170, 0.322);
  color: rgba(255, 255, 255, 0.7);
  border: none;
}

input[type=submit]:hover {
  background-color:  rgba(4, 165, 170, 0.8);
}


/* =================
    Lists
==================== */
.nav {
    list-style-type: none;
    width: 100%;
    text-align: right;
}

.nav li {
    display: inline-block;
    margin-left: 1.5rem;
    font-size: 18px;
}

/* =================
    Links
==================== */
.nav a {
    text-decoration: none;
}

.nav a:hover {
    font-weight: bold;
}


